<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.munditv.mundichat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".CustomCaptureActivity" />
        <service android:name=".service.ChatService" />
        <receiver android:name=".xmpp.XmppServiceBroadcastEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="tk.munditv.mundichat.xmpp.connected"/>
                <action android:name="tk.munditv.mundichat.xmpp.disconnected"/>
                <action android:name="tk.munditv.mundichat.xmpp.rosterchanged"/>
                <action android:name="tk.munditv.mundichat.xmpp.messageadded"/>
                <action android:name="tk.munditv.mundichat.xmpp.messagedeleted"/>
                <action android:name="tk.munditv.mundichat.xmpp.contactadded"/>
                <action android:name="tk.munditv.mundichat.xmpp.contactadderror"/>
                <action android:name="tk.munditv.mundichat.xmpp.contactremoved"/>
                <action android:name="tk.munditv.mundichat.xmpp.conversationscleared"/>
                <action android:name="tk.munditv.mundichat.xmpp.conversationsclearerror"/>
                <action android:name="tk.munditv.mundichat.xmpp.contactrenamed"/>
                <action android:name="tk.munditv.mundichat.xmpp.messagesent"/>
                <action android:name="tk.munditv.mundichat.xmpp.getrosterentrues"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>